<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Register</button>
    {{ form_end(form) }}
</body>
</html>